* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

#playback {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#cover img {
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#title {
  font-size: 24px;
  margin-top: 10px;
}

#controls {
  margin-top: 20px;
}

button {
  background-color: #0078d4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

#queue {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

li:hover {
  background-color: #d9d9d9;
}
